<%- include('./common/header.ejs',{url:url,user:user}) %>
<link rel="stylesheet" href="/stylesheets/common.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- 左侧导航 -->
        <%- include('./common/slider.ejs') %>

        <!-- 内容区 -->

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">控制台</li>
                </ul><!-- .breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    这是商品管理页面
                    <!-- 选择分类 -->
                    <select name="" id="changeCategory">
                        <% for(var i=0 ;i<category.length;i++) { %>
                        <option value="<%- category[i]._id  %>"><%- category[i].name  %></option>
                        <% } %>
                    </select>

                    <div class="img-box full">
                        <section class=" img-section">
                            <p class="up-p">作品图片：<span class="up-span">最多可以上传5张图片，马上上传</span></p>
                            <div class="z_photo upimg-div clear">
                                <section class="z_file fl">
                                    <img src="/images/a11.png" class="add-img">
                                    <input type="file" name="file" id="file" class="file" value=""
                                        accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                                </section>
                            </div>
                        </section>
                    </div>
                    <aside class="mask works-mask">
                        <div class="mask-content">
                            <p class="del-p">您确定要删除作品图片吗？</p>
                            <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span>
                            </p>
                        </div>
                    </aside>

                    <button class="btn" id="uploadimg">上传多张图片</button>

                    <script id="editor" type="text/plain" style="width: 100%; height: 500px;"></script>

 
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <!-- 设置主题颜色区域 -->
        <%- include('./common/ace-setting.ejs') %>

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<%- include('./common/footer.ejs') %>
<script src="/javascripts/index.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('editor');    
</script>